<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>test frames0002.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0003.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0004.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0012.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0014.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0015.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0016.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{196,260},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0017.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0018.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{196,454},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0019.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{196,648},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0020.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1228},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0028.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1422},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0029.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1616},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0030.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1810},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0031.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{260,842},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0032.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{260,1100},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0033.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{454,196},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0034.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{454,454},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0042.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0044.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{648,196},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0045.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{454,648},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0046.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{454,842},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0047.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{260,1294},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0048.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{260,1488},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0049.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{260,1682},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0050.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{518,1036},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0058.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{518,1294},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0060.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{518,1552},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0061.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{518,1746},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0062.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{712,390},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0063.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{712,648},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0064.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{712,906},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0065.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{712,1164},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0066.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{712,1358},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0074.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{776,1552},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0076.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{776,1810},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0077.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0078.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{906,260},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0079.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{906,518},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0080.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{906,776},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0081.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{970,1034},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>test frames0082.jpeg</key>
            <dict>
                <key>frame</key>
                <string>{{970,1292},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background1-hd.pvr</string>
            <key>size</key>
            <string>{1164,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b85110f3a639771cd89f49d42429adbd:d1da7332fb91d375e5b73fca74877934:2d9cad9f8b38055449b6861b3d0669fa$</string>
            <key>textureFileName</key>
            <string>background1-hd.pvr</string>
        </dict>
    </dict>
</plist>
